<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnguYchet.Properties.Settings.Angu_ushetConnectionString"
            connectionString="Data Source=DESKTOP-TU025V5\SQLEXPRESS02;Initial Catalog=&quot;Angu ushet&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AnguYchet.Properties.Settings.Angumanani_ychetConnectionString"
            connectionString="Data Source=DESKTOP-TU025V5\SQLEXPRESS02;Initial Catalog=&quot;Angumanani ychet&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>